<header class="mat-elevation-z8">
  <nav>
    <mat-grid-list cols="3" rowHeight="50">
      <mat-grid-tile>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon aria-label="Menu icon">dehaze</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="/">
          <img src="assets/images/logo.png" alt="Escudo Venados">
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-icon-button>
          <mat-icon aria-label="Refresh icon">refresh</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </nav>
</header>

