header {
  background-color: transparent;
  color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: .5em;

  img {
    max-height: 50px;
  }

  mat-icon {
    color: white;
    font-size: 2em;
    font-weight: bold;
  }
}
