<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [sidenav]="sidenav"></app-header>

    <section class="container margin-top">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
