<figure class="has-text-centered">
  <img src="assets/images/logo.png" alt="Escudo Venados">
</figure>

<section class="content">
  <mat-nav-list>
    <mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon>
      <a mat-line [routerLink]="['/']">Inicio</a>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>highlight</mat-icon>
      <a mat-line [routerLink]="['/statistics']">Estadísticas</a>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>person</mat-icon>
      <a mat-line [routerLink]="['/players']">Jugadores</a>
    </mat-list-item>
  </mat-nav-list>
</section>
