@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow-y: auto;
}

body {
  background-image: url(assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}

